:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --accent-color: #2196F3;
  --some-txt-color: #ffffff;
  --header-txt-color: #212121;
  --main-txt-color: #757575;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal-btn {
  cursor: pointer;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--some-txt-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  padding: 10px 32px;
  border: none;
  margin: auto;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #188ce8;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.head-contacts {
  display: none;
  align-items: center;
  margin-left: auto;
}

.head-logo {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.studio_color_black {
  color: black;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-txt-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.menu__item {
  position: relative;
}

.current {
  position: relative;
  display: block;
  color: var(--accent-color);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  display: block;
  position: absolute;
  margin: 0 auto;
  margin-top: 28px;
}

.head-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.head-contacts__link:hover, .head-contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.burger-btn:hover, .burger-btn:focus {
  cursor: pointer;
  fill: var(--accent-color);
  outline: none;
}

.icon-burger-btn {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
  }
  .burger-btn {
    display: none;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .head-logo {
    margin-right: 88px;
  }
  .head-contacts {
    display: block;
    margin-left: auto;
  }
  .head-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .icon__mail {
    margin-right: 7px;
    width: 14px;
    height: 10px;
  }
  .icon__phone {
    margin-right: 7px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .head-logo {
    margin-right: 92px;
  }
  .head-contacts {
    display: flex;
  }
  .head-contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .head-contacts__link {
    justify-content: center;
    font-size: 14px;
  }
  .icon__mail {
    margin-right: 7px;
    width: 16px;
    height: 12px;
  }
  .icon__phone {
    margin-right: 7px;
    width: 10px;
    height: 16px;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu-close-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  top: 10px;
  right: 15px;
}

.mobile-menu-close-icon {
  width: 40px;
  height: 40px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.mobile-menu-close-icon:hover, .mobile-menu-close-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu-container {
  position: relative;
  padding-top: 48px;
  padding-left: 40px;
}

.nav-list {
  margin-bottom: 306px;
}

.nav-list-item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.nav-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-list-link {
  color: black;
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
  outline: none;
}

.nav-contacts-list {
  margin-bottom: 84px;
}

.nav-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-contacts-link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.nav-contacts-link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

.nav-social-list {
  display: flex;
}

.nav-social-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  position: relative;
}

.nav-social-item:not(:last-child) {
  margin-right: 20px;
}

.nav-social-link {
  color: var(--accent-color);
}

.nsl-link-current::after {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  border: 1px solid rgba(33, 33, 33, 0.2);
  top: 0;
  right: -10px;
}

.footer {
  background-color: #2F303A;
}

.hero {
  max-width: 480px;
  margin: 0px auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2F303A;
}

.hero-header {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--some-txt-color);
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-main.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/bg-main.jpg");
    background-size: 1600px 600px;
  }
  .hero-header {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/bg-main@2x.jpg");
  }
}

.our-advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-adv-list {
  display: block;
}

.our-adv__item:not(:last-child) {
  margin-bottom: 30px;
}

.our-adv__bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.our-adv__icon {
  width: 70px;
  height: 70px;
}

.our-adv__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-txt-color);
  margin-bottom: 10px;
  text-align: center;
}

.our-adv__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .our-adv-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  .our-adv__bg {
    width: 354px;
    height: 120px;
  }
  .our-adv__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-advantages {
    padding-top: 0;
    padding-bottom: 94px;
  }
  .our-adv-list {
    display: flex;
    padding-top: 90px;
  }
  .our-adv__bg {
    width: 270px;
    height: 120px;
  }
  .our-adv__icon {
    width: 70px;
    height: 70px;
  }
  .our-adv__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.about {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .about-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color);
    margin-bottom: 50px;
  }
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .about__item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
  .about__wrapper {
    position: relative;
  }
  .about__label {
    position: absolute;
    top: 224px;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 27px 82px;
    color: var(--some-txt-color);
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-txt-color);
  margin-bottom: 30px;
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.team-member-content {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 122px;
  padding-right: 122px;
}

.team-member {
  background: var(--some-txt-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-top: 30px;
}

.team-member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-txt-color);
  margin-bottom: 10px;
}

.team-member-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.social-list-link:hover, .social-list-link:focus {
  fill: var(--some-txt-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team-header {
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color);
    margin-bottom: 30px;
    font-size: 28px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-member {
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    background: var(--some-txt-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-member-content {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .team-header {
    font-size: 36px;
  }
  .team-member {
    flex-basis: calc((100% - 120px) / 4);
    background: var(--some-txt-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-member-content {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-txt-color);
  margin-bottom: 30px;
}

.clients-list-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-list-link {
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  height: 92px;
  width: 210px;
}

.clients-list-link:hover, .clients-list-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-list-icon {
  width: 106px;
  height: 60px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-list-item {
  flex-basis: calc((100% - 60px) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients-list-link {
    width: 226px;
  }
  .clients-list-item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients-header {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .clients-list {
    display: flex;
    justify-content: space-between;
  }
  .clients-list-item {
    flex-basis: 0;
  }
  .clients-list-link {
    width: 170px;
  }
}

.left-contacts {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
}

.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--some-txt-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

.footer-contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-contacts-link:hover, .footer-contacts-link:focus {
  color: var(--accent-color);
}

.studio-not-web-footer {
  color: var(--some-txt-color);
}

address {
  font-style: normal;
}

.right-contacts {
  margin-left: 70px;
  margin-top: 72px;
  margin-bottom: 100px;
}

.right-contacts-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--some-txt-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--some-txt-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  fill: var(--some-txt-color);
  background-color: var(--accent-color);
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
}

.footer-form-section {
  margin-left: auto;
  margin-top: 72px;
  margin-bottom: 100px;
  width: 570px;
  height: 86px;
}

.footer-form-send {
  display: flex;
}

.footer-form-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--some-txt-color);
  margin-bottom: 20px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  padding-left: 16px;
  background-color: inherit;
  color: var(--some-txt-color);
}

.footer-form-input:focus {
  outline: none;
}

.footer-form-input::placeholder {
  color: rgba(117, 167, 117, 0.5);
}

.footer-form-btn {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  color: var(--some-txt-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  padding: 10px 32px;
  border: none;
  margin-left: auto;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  display: flex;
}

.footer-form-btn:hover, .footer-form-btn:focus {
  background-color: #188ce8;
}

.icon-telegram {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.07);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  height: 580px;
  background-color: var(--some-txt-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  visibility: hidden;
  position: absolute;
  right: 8px;
  top: 8px;
  padding: 0;
  border: 0;
}

.icon-close {
  cursor: pointer;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  visibility: visible;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.icon-close:focus, .icon-close:hover {
  fill: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.modal-form-head {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  cursor: pointer;
  padding-left: 42px;
}

.modal-form-input:focus, .modal-form-input:hover {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-field {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.modal-form-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: border-color 250ms linear;
}

.modal-form-input:focus + .modal-form-icon, .modal-form-input:hover + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 6px;
  display: block;
}

.modal-form-message {
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: background-color 250ms linear;
  padding: 12px 16px;
  resize: none;
  width: 448px;
  height: 120px;
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  padding-left: 12px;
  padding-right: 12px;
}

.modal-form-checkbox-label::before {
  margin-right: 10px;
  display: block;
  cursor: pointer;
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../images/iconcheck.jpg");
  background-size: cover;
  border: none;
  box-shadow: none;
}

.modal-form-label-link {
  outline: none;
  color: var(--accent-color);
}

.modal-form-btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-right: 124px;
  margin-left: 124px;
  background-color: var(--accent-color);
  color: var(--some-txt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
}

.portfolio {
  padding-top: 94px;
}

.pf-header {
  display: none;
}

.pf-menu {
  display: flex;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.pf-menu-item {
  margin-right: 8px;
  margin-bottom: 15px;
}

.pf-menu-item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .pf-menu {
    justify-content: center;
  }
}

.pf-menu-item:not(:last-child) {
  margin-right: 8px;
}

.pf-btn {
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-txt-color);
  font-family: var(--main-font);
  border: none;
  padding: 6px 22px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.pf-btn:hover, .pf-btn:focus {
  color: var(--some-txt-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
}

.projects-list-item {
  background: var(--some-txt-color);
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.projects-list-item:hover, .projects-list-item:focus {
  background: var(--some-txt-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list {
  margin-bottom: -30px;
}

.projects-list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .projects-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-list-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px)/3);
  }
}

.projects-list-content {
  padding: 20px 24px;
}

.projects-list-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color: var(--header-txt-color);
  margin-bottom: 4px;
}

.projects-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--some-txt-color);
  font-weight: 400;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.projects-list-item:hover .overlay, .projects-list-item:focus .overlay {
  transform: translateY(0%);
  transition: transform 500ms linear;
}

.projects-list-img-wrapper {
  position: relative;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */