.our-advantages{
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-adv-list {
    display: block;
 }

 .our-adv__item {
    &:not(:last-child) {
        margin-bottom: 30px;  
    }      
 }

 .our-adv__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.our-adv__icon {
    width: 70px;
    height: 70px;
}

.our-adv__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-txt-color);
    margin-bottom: 10px;
    text-align: center;
}

.our-adv__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

 
// 768+
@media screen and (min-width: 768px) {

    .our-adv-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-bottom: -30px;
    }
    
    .our-adv__bg {
        width: 354px;
        height: 120px;    
    }

    .our-adv__item {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-bottom: 30px;
   
    }

}

// 1200+
@media screen and (min-width: 1200px) {
    .our-advantages{
        padding-top: 0;
        padding-bottom: 94px;
    }
    .our-adv-list {
        display: flex;
        padding-top: 90px;
    }

    .our-adv__bg {
        width: 270px;
        height: 120px;    
    }

    .our-adv__icon {
        width: 70px;
        height: 70px;
    }

    .our-adv__item {
        flex-basis: calc((100% - 120px) / 4);
      }

    
}

// .our-adv-list {
//     display: flex;
//     padding-top: 90px;
// }

// .our-adv__bg {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     width: 270px;
//     height: 120px;
//     background-color: #F5F4FA;
//     border-radius: 4px;
//     margin-bottom: 30px;
// }

// .our-adv__icon {
//     width: 70px;
//     height: 70px;
// }

// .our-adv__header {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--header-txt-color);
//     margin-bottom: 10px;
// }

// .our-adv__item {
//     &:not(:last-child) {
//         margin-right: 30px;
//     }
// }


// .our-adv__text {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
// }