.adv-list {
    display: flex;
    padding-top: 90px;
}

.adv__bg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.adv__icon {
    width: 70px;
    height: 70px;
}

.adv__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-txt-color);
    margin-bottom: 10px;
}

.adv__item {
    &:not(:last-child) {
        margin-right: 30px;
    }
}


.adv__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}