
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    margin-bottom: 20px;
}
.studio-not-web-footer {
    color: var(--some-txt-color);
}
.footer-contacts-item {
    &:not(:last-child) {
        margin-bottom: 8px;
    }
}
.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--some-txt-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.footer-contacts-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

address {
    font-style: normal;
}
.left-contacts {
    margin-bottom: 60px;
}
.right-contacts {
    margin-bottom: 60px;
}
.right-contacts-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--some-txt-color);
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
}

.footer-social-list-item{
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.footer-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--some-txt-color);
    background-color: rgba(255, 255, 255, 0.1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    &:hover, &:focus {
        fill: var(--some-txt-color);
        background-color: var(--accent-color);
    }
}

.footer-social-list-icon {
    width: 20px;
    height: 20px;
}

.footer-form-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--some-txt-color);
    margin-bottom: 20px;
}

.footer-form-input {
    height: 50px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    cursor: pointer;
    background-color:inherit;
    color: var(--some-txt-color);
    margin-bottom: 20px;
    padding-left: 16px;
    &:focus {
        outline: none;
    }
    
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.footer-form-btn {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    letter-spacing: 0.06em;
    color: var(--some-txt-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-family: var(--main-font);
    padding: 10px 32px;
    border: none;
    margin-left: auto;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    display: flex;

    &:hover, &:focus {
        background-color: #188ce8;
    }
}

.icon-telegram{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.left-contacts {
    text-align: center;
}
.right-contacts {
    text-align: center;
}

.footer-form-section {
    text-align: center;
}
.footer-form-btn {
  margin: 0 auto;
}

// 480+
@media screen and (min-width: 480px) {
    .footer {
        display: block;
    }
    .footer-form-input {
        width: 450px;  
    }
}

// 768+
@media screen and (min-width: 768px) {
    .footer-form-input {
        width: 450px;
    }
    
    
.footer-contacts-container {
    display: flex;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
}

    .footer {
        display: block;
    }
}

// 1200+
@media screen and (min-width: 1200px) {
    .footer {
        display: flex;
        padding-top: 0;
        padding-bottom: 0;
    }
      .left-contacts {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
}

.footer-contacts-container {
    padding-left: 0;
}

.footer-logo {
    font-size: 26px;
}

.footer-contacts-item {
    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.right-contacts {
    margin-left: 70px;
    padding-top: 72px;
    padding-bottom: 100px;
}
.footer-social-list {
    margin-right: 0;
    margin-left: 0;
}
.footer-form-section {
    margin-left: auto;
    padding-top: 72px;
    padding-bottom: 100px;
    width: 570px;
    height: 86px;
    text-align: unset;
}

.footer-form-send{
    display: flex;
}

.footer-form-input {
    width: 358px;
    margin-bottom: none;
}
.footer-form-btn {
margin-left: 12px;
}

.left-contacts {
    margin-bottom: 0;
    text-align: left;
}
.right-contacts {
    margin-bottom: 0;
    text-align: left;
}
}
