.team {
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;
}

.team-header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color);
    margin-bottom: 30px;
}

.social-list-icon {
    width: 20px;
    height: 20px;
} 

.team-member-content {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 122px;
    padding-right: 122px;
}

.team-member {
    background: var(--some-txt-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
    margin-top: 30px;
}

.team-member-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-txt-color);
    margin-bottom: 10px;
}

.team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    &:hover, &:focus {
        fill: var(--some-txt-color);
        background-color: var(--accent-color);
    }
}



// 768+
@media screen and (min-width: 768px) {

    .team {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .team-header {
        font-weight: 700;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--header-txt-color);
        margin-bottom: 30px;
        font-size: 28px;
    }
    .team-list {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }   
    .team-member {
        margin-left: 30px;
        flex-basis: calc((100% - 60px) / 2);
        background: var(--some-txt-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .team-member-content {
        padding-left: 72px;
        padding-right: 72px;
    }
}

// 1200+
@media screen and (min-width: 1200px) {
    .team {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    .team-header {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .team-member {
        flex-basis: calc((100% - 120px) / 4);
        background: var(--some-txt-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }

    .team-member-content {
        padding-left: 32px;
        padding-right: 32px;
    }
}
