// .pf-menu {
//     display: flex;
//     margin-bottom: 50px;
//     justify-content: center;
//     width: 320px;
// }

// .pf-menu-item{
//     &:not(:last-child) {
//         margin-right: 8px;
//     }
// }

.pf-menu {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 40px; 
}

.pf-menu-item{
    margin-right: 8px;
    margin-bottom: 15px;

    &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
    }
 
}


// 768+
@media screen and (min-width: 768px) {
    .pf-menu{
        justify-content: center; 
        margin-bottom: 30px;
    }
}


.pf-menu-item{
    &:not(:last-child) {
        margin-right: 8px;
    }
}

// 1200+
@media screen and (min-width: 1200px) {
    .pf-menu{
        margin-bottom: 50px;
    }
}